<section>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= @num_of_products%></span>
      <a href="/admin/products">Products</a>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @num_of_categories%></span>
      <a href="/categories">Catgories</a>
    </li>
  </ul>
</section>