<section>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= @num_of_products%></span>
      <%= link_to "Products", :root %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= @num_of_categories%></span>
      <%= link_to "Categories", :category %>
    </li>
  </ul>
</section>